@font-face {
	font-family: "Arial Rounded MT";
	src: url(./fonts/arial-rounded-mt.ttf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	text-decoration: none;
}

body {
	line-height: 1;
	/* background: #d4d4d4; */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: var(--text-color);
}

html,
body {
	height: 100vh;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body {
	font-size: 1.6rem;
}

ol,
ul {
	list-style: none;
}

:root {
	--primary-color: #00376f;
	--secondary-color: #9420a5;
	--title-color: #ffffff;
	--text-color: #fafafa;
}

body,
input,
button {
	font-family: Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-color);
	font-family: Helvetica, sans-serif;
}

/* SECTION 1 */
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 12rem;
}

header img {
	height: 7rem;
}
/* 
.iframe-video {
  max-width: 100%;
} */

.iframe-video {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
}

iframe {
	max-height: 46rem;
	z-index: 10;
}

/* SECTION 2 */
.hero {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url("./assets/luke-chesser-CxBx_J3yp9g-unsplash@1x.png");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	z-index: 10;
}

.hero a {
	z-index: 10;
	/* margin-bottom: 2rem; */
}

.hero::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-image: url("./assets/erik-lucatero-UrhMJ6kfKlo-unsplash-1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.1;
}

main .hero .hero-title {
	padding: 0px 20px;

	max-width: 50rem;
	z-index: 10;
	font-size: 3rem;
	font-weight: 4.6rem;
	color: var(--title-color);
	margin-top: 4.4rem;
}

main .hero .hero-subtitle {
	z-index: 10;
	font-size: 5.4rem;
	font-weight: bold;
	line-height: 5.4rem;
	text-align: center;
	max-width: 80rem;
	color: var(--title-color);
	margin-top: 1.2rem;
}

.hero-text {
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3.2rem;
}

.hero-text img {
	z-index: 10;
	display: block;
	margin-right: 1.2rem;
	margin-top: 3.8rem;
	height: 4rem;
}

.frame-video {
	width: 900px;
}


button:focus {
	outline: none;
}

main .hero a {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.6rem;
	line-height: 4rem;
	font-weight: bold;
	letter-spacing: 0px;
	color: var(--text-color);
	margin-top: 5rem;
	background: var(--primary-color);
	border: 0;
	border-radius: 55px;
	max-width: 45rem;
	width: 100%;
	height: 7.2rem;
	max-height: 100%;
	cursor: pointer;
	transition: all 0.2s;
}

main .hero a:hover {
	filter: brightness(70%);
}

main .hero-footer {
	margin-top: 2rem;
	font-size: 2.1rem;
	line-height: 2.9rem;
	font-weight: 300;
	letter-spacing: 0;
	color: var(--text-color);
}

/* SECTION 3 */
.section-benefits .logo-solo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	width: 100%;
	max-width: 9rem;
}

.section-benefits .benefits-title {
	margin: 3.7rem auto 3rem;
	text-transform: uppercase;
	font-size: 3.8rem;
	line-height: 4.1rem;
	font-weight: bold;
	color: var(--primary-color);
	max-width: 46rem;
	text-align: center;
}

.section-benefits .img-instagram {
	max-width: 32rem;
	width: 100%;
}

.section-benefits .img-instagram img {
	width: 100%;
	max-width: 42rem;
}

.section-benefits .flex {
	padding: 0px 7.8rem;
	display: flex;
	flex-wrap: wrap;
	max-width: 124.9rem;
	margin: 0 auto;
	justify-content: center;
}

.section-benefits .benefits {
	margin-left: 3rem;
	overflow: hidden;
	width: 100%;
	height: 15rem;
	display: flex;
	align-items: center;
}

.section-benefits .benefits p {
	margin-left: 4.2rem;
	color: var(--primary-color);
	font-size: 2.1rem;
	font-weight: lighter;
	line-height: 2.6rem;
	text-align: left;
}

.section-benefits .benefits #icons {
	width: 100%;
	max-width: 7rem;
	margin-left: 2.6rem;
}

.section-benefits .benefits #barra {
	display: block;
	margin-left: 6rem;
	max-height: 10rem;
}

.section-benefits .div-benefits {
	flex-grow: 1;
	margin-top: 4rem;
	width: 60%;
	height: 100%;
}

.p-barra7 {
	box-sizing: border-box;
	max-width: 150px;
	border: 0;
	height: 7px;
	max-height: 100%;
	transform: rotate(90deg);
	background: transparent linear-gradient(190deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0%;
	border-radius: 25px;
}

.article-info {
	background-image: url("./assets/georgia-de-lotz--UsJoNxLaNo-unsplash@2x.png");
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
		url("./assets/georgia-de-lotz--UsJoNxLaNo-unsplash@2x.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 40rem;
	max-height: 100%;
}

.article-texts h1 {
	font-size: 4.8rem;
	line-height: 4.8rem;
	max-width: 70rem;
	text-align: center;
}

.article-texts {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.article-info .article-texts p {
	font-size: 2.6rem;
	max-width: 100rem;
	line-height: 3.2rem;
	text-align: center;
	font-weight: 300;
	margin-top: 40px;
}

.p-barra {
	box-sizing: border-box;
	width: 46%;
	border: 0;
	margin-top: 3rem;
	height: 7px;
	background: transparent linear-gradient(190deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0%;
	border-radius: 25px;
}

.section-plans .logo-solo {
	display: block;
	margin: 6rem auto auto;
	width: 100%;
	max-width: 9rem;
}

.section-plans h1 {
	margin: 2.8rem auto auto;
	text-transform: uppercase;
	font-size: 3.8rem;
	line-height: 6.8rem;
	color: var(--primary-color);
	max-width: 42.4rem;
	text-align: center;
}

.flex-cards {
	display: flex;
	flex-wrap: wrap;
	max-width: 100rem;
	margin: 0 auto;
}

.flex-cards > img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
}

.flex-cards > div {
	flex: 1 1 20rem;
	max-width: 300rem;
	width: 100%;
	/* margin: 2rem 8rem auto auto; */
	margin: 2rem 4rem;
}

.card {
	display: flex;
	border-radius: 15px;
	background: #ffff;
	justify-content: center;
	box-shadow: 0px 5px 14px #0000003d;
	flex-direction: column;
	text-align: center;
	max-width: 100%;
	align-items: center;
	height: 30.5rem;
	max-height: 100%;
}

.flex-cards .card-title {
	font-size: 2.8rem;
	text-align: center;
	font-weight: 300;
	line-height: 2.8rem;
	color: var(--secondary-color);
	text-align: center;
}

.flex-cards .card-content {
	font-size: 4.2rem;
	text-align: center;
	margin-top: 3rem;
	line-height: 3.7rem;
	font-family: "Arial Rounded MT";
	color: var(--primary-color);
}

.flex-cards .card-body {
	font-size: 2.5rem;
	text-align: center;
	line-height: 2.9rem;
	color: var(--primary-color);
}

.flex-cards .card-button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	margin-top: 2.5rem;
	background: var(--secondary-color);
	width: 22rem;
	max-width: 100%;
	font-size: 2rem;
	line-height: 2.7rem;
	color: var(--title-color);
	text-transform: uppercase;
	max-width: 100%;
	border-radius: 55px;
	height: 4.8rem;
	max-height: 100%;
	transition: filter 0.2s;
}

.flex-cards .card-button:hover {
	filter: brightness(70%);
}

.flex-cards .payment {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-cards .payment img {
	width: 70.6rem;
	max-width: 100%;
}

.p-barra2 {
	box-sizing: border-box;
	max-width: 22rem;
	width: 100%;
	border: 0;
	margin-bottom: 5rem;
	height: 0.7rem;
	background: transparent linear-gradient(190deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0%;
	border-radius: 25px;
}

.section-warranty {
	max-height: 100%;
	background-image: url("./assets/lucrezia-carnelos-wQ9VuP_Njr4-unsplash@2x.png");
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%),
		url("./assets/lucrezia-carnelos-wQ9VuP_Njr4-unsplash@2x.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.info-warranty {
	height: 46rem;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info-warranty img {
	max-width: 26rem;
	width: 100%;
}

.info-warranty p {
	font-size: 2.3rem;
	margin-left: 9rem;
	max-width: 62rem;
	line-height: 3.2rem;
	color: var(--text-color);
	text-align: left;
}

#barra-warranty {
	width: 0.7rem;
	margin-left: 8rem;
}

.p-barra3 {
	box-sizing: border-box;
	width: 0.3em;
	margin-left: 10rem;
	border: 0;
	height: 32rem;
	background: transparent linear-gradient(180deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0% no-repeat padding-box;
	border-radius: 25px;
}

.section-instructions {
	margin-top: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 100%;
}

.section-instructions h1 {
	color: var(--primary-color);
	font-size: 4.2rem;
	max-width: 78rem;
	text-align: center;
	line-height: 4.1rem;
	font-weight: bold;
}

.section-instructions h2 {
	color: #1771cd;
	max-width: 70rem;
	width: 100%;
	font-size: 2.2rem;
	line-height: 2.6rem;
	margin-bottom: 4rem;
	text-align: center;
	opacity: 0.85;
}

.section-instructions p {
	color: var(--primary-color);
	margin-top: 2.2rem;
	font-weight: 500;
	text-align: left;
	font-size: 2.4rem;
	line-height: 2.8rem;
}

.list {
    position: relative;
    padding: 2rem 3rem;
    margin-bottom: 8rem;
    width: 67%;
    max-width: 100%;
    height: 100%;
}

.list::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-image: url("./assets/logo-solo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30rem;
	opacity: 0.3;
}

.p-barra4 {
	box-sizing: border-box;
	width: 38rem;
	border: 0;
	margin-top: 5.4rem;
	margin-bottom: 6.3rem;
	height: 7px;
	background: transparent linear-gradient(190deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0%;
	border-radius: 25px;
}

.section-faq {
	position: relative;
	background-image: url("./assets/luke-chesser-CxBx_J3yp9g-unsplash@2x.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	max-height: 100%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-faq::before {
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-image: url("./assets/erik-lucatero-UrhMJ6kfKlo-unsplash-1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.1;
}

.section-faq h2 {
	font-size: 6.4rem;
	margin-top: 12.1rem;
	line-height: 7.9rem;
	text-align: center;
	color: var(--text-color);
}

.section-faq h1 {
	font-size: 8rem;
	line-height: 9rem;
	margin-top: 15.2rem;
	text-align: center;
	color: var(--text-color);
}

.contacts {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts .icon-email {
	width: 6rem;
	margin-right: 3.3rem;
}

.contacts .icon-whats {
	height: 5.5rem;
	margin-right: 3.3rem;
	margin-left: 6rem;
}

.contacts strong {
	font-size: 2.4rem;
	line-height: 4.3rem;
	letter-spacing: 0.1rem;
	font-weight: 400;
}

.p-barra5 {
	box-sizing: border-box;
	width: 56rem;
	max-width: 100%;
	border: 0;
	margin-top: 2rem;
	margin-bottom: 5.5rem;
	height: 7px;
	background: transparent linear-gradient(190deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0%;
	border-radius: 25px;
}

.p-barra6 {
	box-sizing: border-box;
	width: 100%;
	max-width: 70%;
	border: 0;
	height: 7rem;
	max-height: 100%;
	transform: rotate(90deg);
	background: transparent linear-gradient(190deg, #ffe427 0%, #cd0951 49%, #ab05c4 100%) 0% 0%;
	border-radius: 25px;
}

.faqs {
	position: relative;
	overflow: hidden;
	width: 80%;
	background: rgba(255, 255, 255, 0.25);
	display: flex;
	padding: 3.4rem 2.2rem;
	border-radius: 0px 18px 18px 0px;
	margin-bottom: 5.3rem;
	cursor: pointer;
}

.faqs .arrow {
	position: absolute;
	right: 4rem;
	top: 3.6rem;
	height: 2.2rem;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	transform: rotate(180deg);
}

.faqs .arrow:hover {
	cursor: pointer;
}

.barra-faq {
	position: absolute;
	height: 100%;
	width: 0.4rem;
	top: 0px;
	left: 0px;
}

.faq-text {
	position: relative;
	display: none;
	position: absolute;
	top: 8.2rem;
	max-width: 90rem;
	height: 10rem;
	font-size: 2rem;
	line-height: 2.4rem;
}

.show {
	display: block;
}

.increase {
	height: 18rem;
}

.faqs h3 {
	font-size: 2.8rem;
	font-size: bold;
}

.footer {
	/* height: 7rem; */
	max-height: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer h3 {
	color: #043a71;
	font-weight: 400;
	font-size: 1.7rem;
	text-align: center;
	margin-bottom: 2.2rem;
}

.footer img {
	margin-top: 2.8rem;
	height: 7rem;
	margin-bottom: 3rem;
}

.widget-image {
	position: fixed;
	display: block;
	z-index: 100000;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	height: 7rem;
	width: 7rem;
	bottom: 3rem;
	left: 84%;
	overflow: hidden;
}

a.widget-image img {
	display: block;
	width: 100%;
	height: 100%;
}

@media (max-width: 1367px) {
	html {
		font-size: 50%;
	}
	iframe {
		height: 30rem;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 48%;
	}
	iframe {
		height: 30rem;
	}

	.flex-cards > div {
		flex: 1 1 35rem;
		/* margin: 2rem 10rem; */
	}
}

@media (max-width: 800px) {
	html {
		font-size: 45%;
	}
	iframe {
		height: 30rem;
	}
}

@media (max-width: 657px) {
	main .hero .hero-title{
		font-size: 2.8rem;
	}
	main .hero .hero-subtitle{
		font-size: 5rem;
	}
	.list {
		width: 95%;
	}
	.faqs h3{
		max-width: 90%;
	}
	.faq-text{
		top: 9.5rem;
	}
	html {
		font-size: 43%;
	}

	.benefits {
		flex-direction: column;
		justify-content: center;
		height: 90rem;
	}

	.section-benefits .benefits {
		height: 40rem;
		margin-left: unset;
	}

	.section-benefits .benefits p {
		margin-left: 0px;
		max-width: 30rem;
		text-align: center;
	}

	.section-benefits .benefits #icons {
		margin-left: 0px;
	}

	.section-benefits .benefits #barra {
		display: block;
		margin: 0 auto;
	}

	.info-warranty {
		flex-direction: column;
	}

	#barra {
		transform: rotate(90deg);
		margin: 0rem;
	}

	.section-warranty {
		height: 90rem;
	}

	.section-warranty #img-warranty {
		margin-top: 43rem;
	}

	.section-warranty #barra-warranty {
		margin-left: 0rem;
		transform: rotate(90deg);
	}

	.section-warranty p {
		margin: 0 auto;
		width: 32.3rem;
		text-align: center;	
	}

	.flex-cards > div {
		/* flex: 1 1 35rem; */
		text-align: center;

		margin: 2rem 12rem;
	}

	.flex-cards > img {
		width: 70%;
	}
}

@media (max-width: 414px) {
	html {
		font-size: 41%;
	}

	.article-info .article-texts p {
		max-width: 47rem;
	}

	.article-info {
		height: 50rem;
	}

	.article-texts h1 {
		max-width: 50rem;
	}

	iframe {
		height: 30rem;
	}

	.p-barra4 {
		width: 90%;
	}

	.list::before {
		background-size: 50rem;
	}

	.contacts strong {
		font-size: 1.5rem;
	}

	.increase {
		height: 22rem;
	}

	.info-warranty {
		flex-direction: column;
	}

	.flex-cards > img {
		width: 70%;
	}
}

@media (max-width: 360px) {
	html {
		font-size: 38%;
	}
	iframe {
		height: 30rem;
	}
}
